<template>
  <navbar
      position="fixed"
      type="primary"
      :transparent="transparent"
      :color-on-scroll="colorOnScroll"
      menu-classes="ml-auto"
  >
    <template>
      <router-link v-popover:popover1 class="navbar-brand" to="/">
        DEIER
      </router-link>
      <el-popover
          ref="popover1"
          popper-class="popover"
          placement="bottom"
          width="200"
          trigger="hover"
      >
        <div class="popover-body">
          Projet de 5eme année crée pour l'ESGI
        </div>
      </el-popover>
    </template>
    <template>
      <div>
        <switch-api></switch-api>
      </div>
    </template>
    <template slot="navbar-menu">

      <drop-down
          tag="li"
          title="Creation"
          icon="now-ui-icons design_app"
          class="nav-item"
      >
        <nav-link to="/createanimal" v-if="!isUser">
          <i class="now-ui-icons business_chart-pie-36"></i> Ajouter des animaux
        </nav-link>
        <nav-link to="/createCertif">
          <i class="now-ui-icons business_chart-pie-36"></i> Ajouter une certification
        </nav-link>
      </drop-down>
      <drop-down
          tag="li"
          title="Vos infos"
          icon="now-ui-icons design_image"
          class="nav-item"
      >
        <nav-link to="/animal">
          <i class="now-ui-icons shopping_shop"></i> Tous les animaux
        </nav-link>
        <nav-link to="/transaction">
          <i class="now-ui-icons shopping_basket"></i> Vos transactions
        </nav-link>
        <nav-link to="/profil">
          <i class="now-ui-icons users_single-02"></i> Profil
        </nav-link>
      </drop-down>

      <template v-if="isLoggedIn">
        <li class="nav-item">
          <a
              class="nav-link btn btn-neutral"
              href=""
              target="_blank"
              @focus="logout"
          >
            <i class="now-ui-icons users_single-02"></i>
            <p>Se deconnecter</p>
          </a>
        </li>
      </template>
      <template v-else>
        <li class="nav-item">


            <router-link v-popover:popover1 class="nav-link btn btn-neutral" to="/signup">
              <i class="now-ui-icons users_single-02"></i>
              S'inscrire
            </router-link>

        </li>
        <router-link v-popover:popover1 class="navbar-brand" to="/login">
          Se connecter
        </router-link>
      </template>

      <li class="nav-item">
        <a
            class="nav-link"
            rel="tooltip"
            title="Follow us on Twitter"
            data-placement="bottom"
            href="https://twitter.com/PETA_France"
            target="_blank"
        >
          <i class="fab fa-twitter"></i>
          <p class="d-lg-none d-xl-none">Twitter</p>
        </a>
      </li>
      <li class="nav-item">
        <a
            class="nav-link"
            rel="tooltip"
            title="Like us on Facebook"
            data-placement="bottom"
            href="https://www.facebook.com/PETAFranceOfficiel/"
            target="_blank"
        >
          <i class="fab fa-facebook-square"></i>
          <p class="d-lg-none d-xl-none">Facebook</p>
        </a>
      </li>
      <li class="nav-item">
        <a
            class="nav-link"
            rel="tooltip"
            title="Follow us on Instagram"
            data-placement="bottom"
            href="https://www.instagram.com/peta_france/?hl=fr"
            target="_blank"
        >
          <i class="fab fa-instagram"></i>
          <p class="d-lg-none d-xl-none">Instagram</p>
        </a>
      </li>
    </template>
  </navbar>
</template>

<script>
import {DropDown, Navbar, NavLink} from '@/components';
import SwitchApi from '@/pages/components/SwitchApi';
import {Popover} from 'element-ui';

export default {
  name: 'main-navbar',
  props: {
    transparent: Boolean,
    colorOnScroll: Number
  },
  data() {
    return {
      isUser: this.$store.getters.isUser
    }
  },
  computed:{
    isLoggedIn(){
      return this.$store.state.enabled
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('logout');
      this.$router.replace('/');
    },
  },
  components: {
    DropDown,
    Navbar,
    NavLink,
    [Popover.name]: Popover,
    SwitchApi
  }
};

</script>

<style scoped></style>
