<template>
    <input 
     :name="name"  
     :type="type"
     :class="classe"
     @input="onchange"
     :aria-describedby="ariadescribedby"
     @blur="$emit('validate')"
     @keypress="$emit('validate')"
     >
</template>

<script>
export default {
    props: {
      name: {type: String, required: true},
      type: {type: String, required: true},
      value: {type: [String,Boolean]},
      classe:{type: String, required: false},
      ariadescribedby: {type: String, required: false}
    },
    methods:{
      onchange(e){
        this.$emit(e.type,e)
      }
    }
}
</script>

<style>

</style>