<template>
  <select
      @input="onchange"
  >
    <slot></slot>
  </select>
</template>


<script>

export default {
  name: "Select",
  methods: {
    onchange(e) {
      this.$emit(e.type, e)
    }
  }
}
</script>

<style>
</style>