<template>
    <textarea 
     :name="name"  
     :value="value" 
     @input="onchange"
     placeholder="Écrivez ici ..."
     >
     </textarea>
</template>

<script>
export default {
    props: {
     // component: {type: String, required: true},
      name: {type: String, required: true},
      value: {type: [String,Boolean]},
    },

    methods:{
      onchange(e){
        this.$emit(e.type,e)
      }
    }
}
</script>

<style>

</style>