<template>
  <div>
    <div class="page-header page-header-small">
      <parallax
          class="page-header-image"
          style="background-image: url('img/bg6.jpg')"
      >
      </parallax>

      <div class="content-center">
        <div class="container">
          <h1 class="title">La vitrine</h1>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="section section-team text-center">
        <div class="container">
          <h2 class="title">Tous les animaux</h2>
          <div class="team">

            <div>
              <div v-if="$apollo.loading">Loading...</div>

              <Animal :animals="animals"/>

            </div>


          </div>
        </div>
      </div>

    </div>
    <div class="four wide column">

    </div>
  </div>
</template>

<script>
import {ANIMALS_QUERY} from '@/graphql/queries'
import {Button, FormGroupInput} from '@/components';
import Animal from "@/pages/Animal";
import apiPlatform from "@/api/ApiPlatform";


export default {
  name: 'AnimalList',
  bodyClass: 'landing-page',
  components: {
    Animal,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
  data() {
    return {
      animals: []

    }
  },
  created() {
    this.switchApi();
  },
  watch: {
    '$store.state.currentApi'() {
      this.switchApi()
    }
  },
  apollo: {
    animals: {
      query: ANIMALS_QUERY
    },
  },
  methods: {
    switchApi() {
      if (this.$store.getters.api === "api-platform") {
        this.$apollo.queries.animals.skip = true
        const api = apiPlatform({auth: true});
        api.get('animals/')
            .then((response) => {
              const {data} = response;
              this.animals = data
            })
            .catch(function (e) {
              console.error(e.message);
            });
      } else {
        this.$apollo.queries.animals.skip = false
      }
    },
  }
}
</script>

<style scoped>

</style>