<template>
  <div>
    <div class="page-header clear-filter" filter-color="orange">
      <parallax
          class="page-header-image"
          style="background-image:url('img/bg5.jpg')"
      >
      </parallax>
      <div class="container">

        <h2 class="title"></h2>
        <h5 class="category"></h5>
        <div class="content">
          <div class="social-description">

            <h6>Type de transaction: {{ transaction.type }}</h6>
            <h6>Prix: {{ transaction.prix }} €</h6>
            <h6>Statut :
              <span v-if="transaction.statut === 2">Refusé</span>
              <span v-if="transaction.statut === 1">Accepté</span>
              <span v-if="transaction.statut === 0">En Attente</span>

            </h6>
          </div>
          <div class="social-description">
            <h4>Proprietaire:</h4>
            <h6>Nom: {{ transaction.vendeur.name }} </h6>
            <h6>Email: {{ transaction.vendeur.email }}</h6>
            <h6>Adresse: {{ transaction.vendeur.adresse }}, {{ transaction.vendeur.cp }} {{
                transaction.vendeur.ville
              }}, {{ transaction.vendeur.pays }}</h6>
          </div>
          <div class="social-description">
            <h4>Animal:</h4>
            <h6>Espece: {{ transaction.animals.espece }} </h6>
            <h6>Genre: {{ transaction.animals.genre }} </h6>
            <h6>Race: {{ transaction.animals.race }}</h6>
          </div>


          <div v-if="currentApi === 'prisma'">
            <div class="social-description" v-if="transaction.vendeur.id === me.id && transaction.statut === 0 ">
              <button
                  class="btn btn-success btn-round btn-lg btn-block"
                  @click="accept()"

              >Accepter
              </button>
              <button
                  class="btn btn-default btn-round btn-lg btn-block"
                  @click="refuse()"
              >Refuser
              </button>
            </div>
          </div>
          <div v-if="currentApi === 'api-platform'">
            <div class="social-description" v-if="transaction.vendeur.id === idApiPlat  && transaction.statut === 0 ">
              <button
                  class="btn btn-success btn-round btn-lg btn-block"
                  @click="accept()"

              >Accepter
              </button>
              <button
                  class="btn btn-default btn-round btn-lg btn-block"
                  @click="refuse()"
              >Refuser
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</template>
<script>
import {ME_QUERY, SINGLE_TRANSAC_QUERY} from '@/graphql/queries'
import {UPDATE_TRANSAC_REFUSE, UPDATE_TRANSAC_ACCEPTE} from "@/graphql/update";
import apiPlatform from "@/api/ApiPlatform";


export default {
  name: 'SingleTransac',
  bodyClass: 'index-page',
  data() {
    return {
      transaction: {},
      idApiPlat: JSON.parse(localStorage.getItem("userInfoApiPlat")).id,
      me: {},
      currentApi: this.$store.getters.api,
      isAuthenticated: !!localStorage.getItem('USER_TOKEN')
    }
  },
  created() {
    this.switchApi();
  },
  watch: {
    '$store.state.currentApi'() {
      this.switchApi()
    }
  },
  methods: {
    refuse() {
      this.$apollo
          .mutate({
            mutation: UPDATE_TRANSAC_REFUSE,
            variables: {
              id: this.$route.params.id
            }
          })
          .then(() => {
            const api = apiPlatform({auth: true});
            api.get('transactions', {params: {prismaId: this.$route.params.id}})
                .then((response) => {
                  const {data} = response
                  api.put('transactions/' + data[0].id, {
                    status: "2"
                  }).then(() => {
                    this.$router.replace('/animal')
                  })
                })
          })
          .catch(error => console.error(error))
    },
    accept() {
      let idAcheteur
      if (this.currentApi === 'api-platform') {
        idAcheteur = this.transaction.acheteur.idPrisma
        console.log('if')
      } else {
        idAcheteur = this.transaction.acheteur.id
      }
      this.$apollo
          .mutate({
            mutation: UPDATE_TRANSAC_ACCEPTE,
            variables: {
              id: this.$route.params.id,
              idNewProprio: idAcheteur
            }
          })
          .then(() => {
            const api = apiPlatform({auth: true});

            api.get('users', {params: {prismaId: idAcheteur}})
                .then(response => {
                  const {data} = response

                  if (this.currentApi === 'api-platform') {
                    api.put('animals/' + this.transaction.animals.id, {
                      acheteur: 'user/' + data[0].id.toString()
                    })
                        .then(() => {
                          this.$router.replace('/animal')
                        })
                  } else {
                    const user = data[0].id.toString()
                    api.get('animals', {params: {prismaId: this.transaction.animals.id}})
                        .then(response => {
                          const {data} = response
                          api.put('animals/' + data[0].id, {
                            acheteur: 'user/' + user
                          })
                              .then(() => {
                                this.$router.replace('/animal')
                              })
                        })
                  }
                })
          })
          .catch(error => console.error(error))
    },
    switchApi() {
      if (this.$store.getters.api === "api-platform") {
        this.currentApi = 'api-platform'
        this.$apollo.queries.transaction.skip = true;
        const api = apiPlatform({auth: true});
        api.get('transactions', {params: {prismaId: this.$route.params.id}})
            .then((response) => {
              const {data} = response;
              this.transaction = data[0];
            })
            .catch(function (e) {
              console.error(e.message);
            });
      } else {
        this.currentApi = 'prisma'
        this.$apollo.queries.transaction.skip = false;
      }
    },
  },
  apollo: {
    transaction: {
      query: SINGLE_TRANSAC_QUERY,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    },
    me: {
      query: ME_QUERY
    }
  },


}
</script>