<template>
  <div>
    <div class="page-header clear-filter" filter-color="orange">
      <parallax
          class="page-header-image"
          style="background-image:url('img/bg5.jpg')"
      >
      </parallax>
      <div class="container">

        <h2 class="title">{{ animal.espece }}</h2>
        <h5 class="category">{{ animal.race }}</h5>
        <div class="content">
          <div class="social-description">

            <h6>Genre: {{ animal.genre }}</h6>
            <h6>Date de naissance: {{ animal.dateBirth | moment("DD-MM-YY, hA") }}</h6>
            <h6>Lieu de naissance: {{ animal.birthplace }}</h6>
          </div>
          <div class="social-description">
            <h4>Proprietaire:</h4>
            <h6>Nom: {{ animal.proprio.name }}</h6>
            <h6>Email: {{ animal.proprio.email }}</h6>
            <h6>Adresse: {{ animal.proprio.adresse }}, {{ animal.proprio.cp }} {{ animal.proprio.ville }},
              {{ animal.proprio.pays }}</h6>
            <h6>Profil:
              <div v-if="currentApi === 'prisma'">
                <router-link style="height: 1.375rem!important;" class="btn btn-primary btn-icon btn-round"
                             :to="`/profil/${animal.proprio.id}`">
                  <i class="fas fa-user"></i>
                </router-link>
              </div>
              <div v-if="currentApi === 'api-platform'">
                <router-link style="height: 1.375rem!important;" class="btn btn-primary btn-icon btn-round"
                             :to="`/profil/${animal.proprio.prismaId}`">
                  <i class="fas fa-user"></i>
                </router-link>
              </div>
            </h6>
          </div>

        </div>
      </div>

    </div>

  </div>
</template>
<script>
import {SINGLE_ANIMAL_QUERY, ME_QUERY} from '@/graphql/queries'
import {CREATE_COMMENTAIRE_MUTATION} from "@/graphql/mutations";
import apiPlatform from "@/api/ApiPlatform";


export default {
  name: 'SingleAnimal',
  components: {},
  bodyClass: 'index-page',
  data() {
    return {
      animal: {},
      currentApi: this.$store.getters.api,
      isAuthenticated: !!localStorage.getItem('USER_TOKEN')
    }
  },
  created() {
    this.switchApi();
  },
  watch: {
    '$store.state.currentApi'() {
      this.switchApi()
    }
  },
  apollo: {
    animal: {
      query: SINGLE_ANIMAL_QUERY,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    }
  },
  methods: {
    switchApi() {
      if (this.$store.getters.api === "api-platform") {
        this.currentApi = 'api-platform'
        this.$apollo.queries.animal.skip = true
        const api = apiPlatform({auth: true});
        api.get('animals/', {params: {prismaId: this.$route.params.id}})
            .then((response) => {
              const {data} = response;
              this.animal = data[0]
            })
            .catch(function (e) {
              console.error(e.message);
            });
      } else {
        this.currentApi = 'prisma'
        this.$apollo.queries.animal.skip = false
      }
    },
  }


}
</script>