<template>
  <div>
    <div class="page-header clear-filter" filter-color="orange">
      <parallax
          class="page-header-image"
          style="background-image:url('img/bg5.jpg')"
      >
      </parallax>
      <div class="container">

        <h1 class="title">{{ user.name }}</h1>
        <h4 class="category">{{ user.email }}</h4>
        <div class="content">


        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container">
          <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
          <a
              href="#button"
              class="btn btn-default btn-round btn-lg btn-icon"
              rel="tooltip"
              title="Follow me on Twitter"
          >
            <i class="fab fa-twitter"></i>
          </a>
          <a
              href="#button"
              class="btn btn-default btn-round btn-lg btn-icon"
              rel="tooltip"
              title="Follow me on Instagram"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </div>

        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <h4 class="title text-center">Ses animaux:</h4>

            <tabs
                pills
                class="nav-align-center"
                tab-content-classes="gallery"
                tab-nav-classes="nav-pills-just-icons"
                type="primary"
            >

              <div class="team">

                <div v-if="$apollo.loading">Loading...</div>

                <YourAnimal :YourAnimals="animals" :idProprio="user" :function="switchApi"/>

              </div>

            </tabs>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <h4 class="title text-center">Ses certifications:</h4>

            <tabs
                pills
                class="nav-align-center"
                tab-content-classes="gallery"
                tab-nav-classes="nav-pills-just-icons"
                type="primary"
            >
              <div class="team">


                <div v-if="$apollo.loading">Loading...</div>

                <YourCertif :YourCertifs="certifications"/>


              </div>

            </tabs>
          </div>
        </div>
        <div class="row" v-if="idPrisma !== this.$store.getters.idUserPrisma">
          <div class="col-md-8 ml-auto mr-auto">
            <h4 class="title text-center">Poster un commentaire:</h4>
            <CreateCommentaire :idPrisma="idPrisma" :function="switchApi"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <h4 class="title text-center">Ses commentaires:</h4>

            <tabs
                pills
                class="nav-align-center"
                tab-content-classes="gallery"
                tab-nav-classes="nav-pills-just-icons"
                type="primary"
            >
              <div class="team">


                <div v-if="$apollo.loading">Loading...</div>

                <YourCommentaire :YourCommentaires="commentaires"/>

              </div>

            </tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import {Tabs, Button, FormGroupInput} from '@/components';
import apiPlatform from "@/api/ApiPlatform";
import {USER_QUERY, YOUR_ANIMALS_QUERY, YOUR_CERTIFS_QUERY, YOUR_COMMENTAIRES_QUERY} from '@/graphql/queries';
import YourAnimal from "@/pages/components/YourAnimal";
import YourCertif from "@/pages/components/YourCertif";
import YourCommentaire from "@/pages/components/YourCommentaire";
import CreateCommentaire from "@/pages/CreateCommentaire";


export default {
  name: 'profil',
  bodyClass: 'profile-page',
  components: {
    CreateCommentaire,
    YourCommentaire,
    YourCertif, Tabs, YourAnimal,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
  data() {
    return {
      api: this.$store.getters.api || '',
      animals: [],
      certifications: [],
      commentaires: [],
      id: 'me.id',
      user: [],
      roles: [],
      idPrisma: this.$route.params.id
    }
  },
  created() {
    this.switchApi();
  },
  watch: {
    '$store.state.currentApi'() {
      this.switchApi()
    }
  },
  apollo: {
    user: {
      query: USER_QUERY,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    },
    animals: {
      query: YOUR_ANIMALS_QUERY,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    },
    certifications: {
      query: YOUR_CERTIFS_QUERY,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    },
    commentaires: {
      query: YOUR_COMMENTAIRES_QUERY,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    }

  },
  methods: {
    switchApi() {
      if (this.$store.getters.api === "api-platform") {
        this.$apollo.queries.user.skip = true;
        this.$apollo.queries.animals.skip = true;
        this.$apollo.queries.certifications.skip = true;
        this.$apollo.queries.commentaires.skip = true;
        const api = apiPlatform({auth: true});
        api.get('users', {params: {prismaId: this.$route.params.id}})
            .then((response) => {
              const {data} = response;
              this.user = data[0];
              this.roles = data[0].role;
              this.animals = data[0].idAnimals;
              this.certifications = data[0].UserCertif;
              this.commentaires = data[0].UserSubjectComment;
            })
            .catch(function (e) {
              console.error(e.message);
            });
      } else {
        this.$apollo.queries.user.skip = false;
        this.$apollo.queries.animals.skip = false;
        this.$apollo.queries.certifications.skip = false;
        this.$apollo.queries.commentaires.skip = false;
      }
    },

  }
};
</script>
<style></style>
