<template>
  <div>
    <input type="checkbox" v-model="checked" @change="onChange" id="switch"/>
    <label for="switch"> Api Platform (check) / Prisma (uncheck)</label>
  </div>
</template>
<script>
export default {
  name: "SwitchApi",
  data() {
    return {
      checked: true
    }
  },
  created() {
    if (localStorage.getItem('CURRENT-API')) {
      let api = localStorage.getItem('CURRENT-API');
      if(api === "api-platform"){
        this.checked = true;
      }
      else {
        this.checked = false;
      }
    } else {
      localStorage.setItem('CURRENT-API', 'api-platform')
    }
  },
  methods: {
    onChange() {
      this.$emit('input', this.checked)
      if (this.checked) {
        localStorage.setItem('CURRENT-API', 'api-platform')
      } else {
        localStorage.setItem('CURRENT-API', 'prisma')
      }
      this.$store.commit('switch_api');
    }
  }
};
</script>
<style scoped>
</style>