<template>
  <div>
    <div class="page-header page-header-small">
      <parallax
          class="page-header-image"
          style="background-image: url('img/bg6.jpg')"
      >
      </parallax>

      <div class="content-center">
        <div class="container">
          <h1 class="title">Vos transactions</h1>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="section section-team text-center">
        <div class="container">
          <div class="team">
            <div v-if="$apollo.loading">Loading...</div>
            <Transaction :transactions="transactions"/>
          </div>
        </div>
      </div>

    </div>
    <div class="four wide column">

    </div>
  </div>
</template>

<script>
import {ME_QUERY, TRANSAC_QUERY} from '@/graphql/queries'
import {Button, FormGroupInput} from '@/components';

import Transaction from "@/pages/Transaction";
import apiPlatform from "@/api/ApiPlatform";


export default {
  name: 'TransactionList',
  bodyClass: 'landing-page',
  components: {
    Transaction,

    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
  data() {
    return {
      acheteur: [],
      vendeur: [],
      transactions: [],
      me: []
    }
  },
  created() {
    this.switchApi();
  },
  watch: {
    '$store.state.currentApi'() {
      this.switchApi()
    }
  },
  apollo: {
    me: {
      query: ME_QUERY
    },
    transactions: {
      query: TRANSAC_QUERY,
      variables() {
        return {
          id: this.me.id
        }
      }
    }
  },
  methods: {
    switchApi() {
      if (this.$store.getters.api === "api-platform") {
        this.$apollo.queries.me.skip = true
        this.$apollo.queries.transactions.skip = true
        this.transactions = [];
        const api = apiPlatform({auth: true});
        api.get('transactions', {params: {acheteur: JSON.parse(localStorage.getItem("userInfoApiPlat")).id}})
            .then((response) => {
              const {data} = response;
              this.acheteur = data
              this.transactions = [...this.vendeur, ...this.acheteur]
            })
            .catch(function (e) {
              console.error(e.message);
            });
        api.get('transactions', {params: {vendeur: JSON.parse(localStorage.getItem("userInfoApiPlat")).id}})
            .then((response) => {
              const {data} = response;
              this.vendeur = data
              this.transactions = [...this.vendeur, ...this.acheteur]
            })
            .catch(function (e) {
              console.error(e.message);
            });
      } else {
        this.$apollo.queries.me.skip = false
        this.$apollo.queries.transactions.skip = false
      }
    },
  }
}
</script>

<style scoped>

</style>