<template>

  <div class="row collections">


    <div
        class="col-md-6"
        v-for="(YourCommentaire, index) in YourCommentaires"
        :key="index"
    >


      <div class="team-player">

        <div class="content">
          <h4 class="title">Commentaire : {{ YourCommentaire.comment }}</h4>
          <p class="category text-primary"></p>
          <div class="description">
            <p>Note: <br/>
            </p>
            <div class="star" >
              <label v-for="YourCommentaire in parseInt(YourCommentaire.note)" :vid-id="YourCommentaire" :key="YourCommentaire"><i class="fas fa-star"></i></label>
            </div>


          </div>

        </div>
      </div>
    </div>

  </div>


</template>

<script>
import {ME_QUERY,} from '@/graphql/queries'
import {Button} from '@/components';


export default {
  name: 'YourCommentaire',
  props: ['YourCommentaires'],
  bodyClass: 'landing-page',
  components: {
    [Button.name]: Button
  },
  data() {
    return {
      me: [],
    }
  },

  apollo: {
    me: {
      query: ME_QUERY
    },

  },
}
</script>

<style scoped></style>