<template>
  <div class="row collections">
    <div
        class="col-md-6"
        v-for="(YourAnimal, index) in YourAnimals"
        :key="index">
      <div class="team-player">
        <div class="content">
          <h4 class="title">{{ YourAnimal.espece }}</h4>
          <p class="category text-primary"></p>
          <div class="description">
            <p>Genre: <strong>{{ YourAnimal.genre }}</strong><br/>
              Date de naissance: <strong>{{ YourAnimal.dateBirth | moment("DD-MM-YY") }}</strong><br/>
              Lieu de naissance: <strong>{{ YourAnimal.birthplace }}</strong><br/></p>
          </div>
          <div v-if="idProprio.id === userConnectedApiPlat || idProprio.id === userConnectedPrisma">
            <button @click="edit">Modifier</button>
            <button @click="deleteAnimal">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {ME_QUERY,} from '@/graphql/queries'
import {Button} from '@/components';
import apiPlatform from "@/api/ApiPlatform";
import {CREATE_ANIMAL_MUTATION, DELETE_ANIMAL} from "@/graphql/mutations";


export default {
  name: 'YourAnimal',
  props: {
    YourAnimals: {type: [Object, Array], required: true},
    idProprio: {type: [Object, Array], required: false},
    function: {type: Function, required: false},
  },
  bodyClass: 'landing-page',
  components: {
    [Button.name]: Button
  },
  data() {
    return {
      me: [],
      userConnectedPrisma: localStorage.getItem('idPrisma'),
      userConnectedApiPlat: JSON.parse(localStorage.getItem('userInfoApiPlat')).id
    }
  },
  apollo: {
    me: {
      query: ME_QUERY
    },

  },
  methods: {
    edit() {
      if (this.$store.getters.api === "api-platform") {
        this.$router.push({name: 'UpdateAnimal', params: {id: this.YourAnimals[0].prismaId}})
      } else {
        this.$router.push({name: 'UpdateAnimal', params: {id: this.YourAnimals[0].id}})
      }
    },
    deleteAnimal() {

      this.$apollo
          .mutate({
            mutation: DELETE_ANIMAL,
            variables: {
              id: this.YourAnimals[0].id,

            }
          }).then( () => {
        const api = apiPlatform({auth: true});
        if (this.$store.getters.api === "api-platform") {
          api.delete('animals/' + this.YourAnimals[0].id.toString())
          this.function()
        } else {
          api.get('animals', {params: {prismaId: this.YourAnimals[0].id}}).then(response => {
            const {data} = response;
            api.delete('animals/' + data[0].id.toString())
          })
          this.function()
        }
      })
    }
  }
}
</script>

<style scoped></style>