<template>

  <div class="row collections">


    <div
        class="col-md-6"
        v-for="(YourCertif, index) in YourCertifs"
        :key="index"
    >


      <div class="team-player">

        <div class="content">
          <h4 class="title">{{ YourCertif.nom }}</h4>
          <p class="category text-primary"></p>
          <div class="description">
            <p>Date d'obtention: <strong>{{ YourCertif.dateObtention | moment("DD-MM-YY") }}</strong><br/>
              </p>

          </div>



        </div>
      </div>
    </div>

  </div>


</template>

<script>
import {ME_QUERY,} from '@/graphql/queries'
import {Button} from '@/components';


export default {
  name: 'YourCertif',
  props: ['YourCertifs'],
  bodyClass: 'landing-page',
  components: {
    [Button.name]: Button
  },
  data() {
    return {
      me: [],
    }
  },

  apollo: {
    me: {
      query: ME_QUERY
    },

  },
}
</script>

<style scoped></style>