<template>
  <div class="row">


    <div
        class="col-md-6"
        v-for="(animal, index) in animals"
        :key="index"
    >


      <div class="team-player">
        <img
            :src="animal.image"
            :alt="animal.espece"
            class="rounded-circle img-fluid img-raised"
        />
        <div class="content">
          <h4 class="title">{{ animal.espece }}</h4>
          <p class="category text-primary">{{ animal.race }}</p>
          <div class="description">
            <p>Genre: <strong>{{ animal.genre }}</strong><br/>
              Date de naissance: <strong>{{ animal.dateBirth | moment("DD-MM-YY, hA") }}</strong><br/>
              Lieu de naissance: <strong>{{ animal.birthplace }}</strong><br/>
              Propriétaire: <strong>{{ animal.proprio.name }}</strong></p>

          </div>

          <div v-if="currentApi === 'prisma'">
            <router-link style="height: 1.375rem!important;" class="btn btn-primary btn-icon btn-round"
                         :to="`/animal/${animal.id}`">
              <i class="fas fa-paw"></i>
            </router-link>
            <div v-if="animal.proprio.name !== me.name && !isEleveur">
              <router-link style="height: 1.375rem!important;" class="btn btn-primary btn-icon btn-round"
                           :to="`/createtransac/${animal.id}`">
                <i class="fas fa-shopping-cart"></i>
              </router-link>
            </div>
          </div>
          <div v-if="currentApi === 'api-platform'">
            <router-link style="height: 1.375rem!important;" class="btn btn-primary btn-icon btn-round"
                         :to="`/animal/${animal.prismaId}`">
              <i class="fas fa-paw"></i>
            </router-link>
            <div v-if="animal.proprio.name !== me.name && !isEleveur">
              <router-link style="height: 1.375rem!important;" class="btn btn-primary btn-icon btn-round"
                           :to="`/createtransac/${animal.prismaId}`">
                <i class="fas fa-shopping-cart"></i>
              </router-link>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>


</template>

<script>
import {Button} from "@/components";
import {ME_QUERY} from '@/graphql/queries'

export default {
  name: "animal",
  props: ['animals'],
  bodyClass: 'landing-page',
  components: {
    [Button.name]: Button
  },
  data() {
    return {
      me: [],
      currentApi: this.$store.getters.api,
      isEleveur: this.$store.getters.isEleveur,
      isSeller: this.$store.getters.isSeller,
      isZoo: this.$store.getters.isZoo,
    }
  },
  apollo: {
    me: {
      query: ME_QUERY
    }
  },
  watch: {
    '$store.state.currentApi'() {
      this.currentApi = this.$store.getters.api
    }
  },
}
</script>

<style scoped></style>