<template>
  <div class="page-header clear-filter" filter-color="orange">
    <div
        class="page-header-image"
        style="background-image: url('img/bg1.jpg')"

    ></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <card type="login" plain>
            <div slot="header" class="logo-container">
              <img v-lazy="'img/now-logo.png'" alt=""/>
            </div>
            <Vuemik
                :onSubmit="createAnimal"
                v-slot="{ handleSubmit }">
              <template>
                <div class="row">
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.espece ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="espece"
                            name="espece"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.espece"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.race ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="race"
                            name="race"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.race"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.prix ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="prix"
                            name="prix"
                            type="number"
                            class="form-control"
                            :placeholder="initialValues.prix"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.genre ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="genre"
                            name="genre"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.genre"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.dateBirth ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="dateBirth"
                            name="dateBirth"
                            type="date"
                            class="form-control"
                            :placeholder="initialValues.dateBirth"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.birthplace ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="birthplace"
                            name="birthplace"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.birthplace"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                  </div>
                </div>
                <div class="card-footer text-center">
                  <button
                      @click="handleSubmit"
                      class="btn btn-primary btn-round btn-lg btn-block">
                    Créer cette animal
                  </button>
                </div>


                <div class="pull-left">

                </div>

              </template>
            </Vuemik>
          </card>
        </div>
      </div>
    </div>
    <main-footer></main-footer>
  </div>
</template>

<script>
import {Card, Button, FormGroupInput} from '@/components';
import MainFooter from '@/layout/MainFooter';
import {CREATE_ANIMAL_MUTATION} from '@/graphql/mutations'

import Field from '@/components/Vuemik/Field.vue'
import Vuemik from '@/components/Vuemik/Vuemik.vue'
import apiPlatform from "@/api/ApiPlatform";

//import { object, string } from "yup";

// const CreateAnimalSchema = object().shape({
//   espece: string().required(),
//   race: string().required(),
//   genre: string().required(),
//   image: string().required(),
//   dateBirth: string().required(),
//   birthplace: string().required()
// });

export default {
  name: 'CreateAnimal',
  components: {
    Card,
    MainFooter,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
    Field,
    Vuemik
  },

  data() {
    return {

      initialValues: {
        espece: 'Espece',
        race: 'Race',
        genre: 'Genre',
        image: '',
        dateBirth: 'Date de naissance',
        birthplace: 'Lieux de naissance',
        prix: 'Prix (en euros)'
      },
      errors: {
        espece: '',
        race: '',
        genre: '',
        image: '',
        dateBirth: '',
        birthplace: '',
        prix: ''
      }
    }
  },
  methods: {
    createAnimal(props) {
      // CreateAnimalSchema
      // .validate(props, { abortEarly: false })
      // .then(() => {
      //   this.errors = {};

      console.log(props)
      this.$apollo
          .mutate({
            mutation: CREATE_ANIMAL_MUTATION,
            variables: {
              espece: props.espece,
              race: props.race,
              genre: props.genre,
              image: "https://source.unsplash.com/400x400/?" + props.espece,
              dateBirth: props.dateBirth,
              birthplace: props.birthplace,
              prix: props.prix,
            }
          })
          .then(response => {
            const api = apiPlatform({auth: true});
            api.post('animals', {
              espece: props.espece,
              race: props.race,
              genre: props.genre,
              dateBirth: props.dateBirth,
              birthplace: props.birthplace,
              prix: props.prix,
              proprio: "users/" + JSON.parse(localStorage.getItem("userInfoApiPlat")).id,
              prismaId: response.data.createAnimal.id
            })
                .then(() => {
                      this.$router.replace('profil')
                    }
                )
                .catch(error => console.error(error))
          })
          .catch(error => console.error(error))

      // })
      // .catch(err => {
      //   err.inner.forEach(error => {
      //     this.errors[error.path] = error.message;
      //   });
      // });
    },
    // validate(field) {
    //   CreateAnimalSchema
    //     .validateAt(field, this.values)
    //     .then(() => {
    //       this.errors[field] = "";
    //     })
    //     .catch(err => {
    //       this.errors[field] = err.message;
    //     });
    // }
  }
}
</script>
<style>

.input-group.error {
  background: #be3131a2;
  border-radius: 25px;
  border-color: #c00000;
}

</style>
