<template>
  <div class="content">
    <card type="login" plain>
      <Vuemik
          :onSubmit="createCommentaire"
          :initialValues="initialValues"
          v-slot="{ handleSubmit }">
        <template>
          <div>
            <div class="star">
              <Field component="vuemik-radio" id="r5" name="note" type="radio" value="5"/>
              <label for="r5"><i class="fas fa-star"></i></label>
              <Field component="vuemik-radio" id="r4" name="note" type="radio" value="4"/>
              <label for="r4"><i class="fas fa-star"></i></label>
              <Field component="vuemik-radio" id="r3" name="note" type="radio" value="3"/>
              <label for="r3"><i class="fas fa-star"></i></label>
              <Field component="vuemik-radio" id="r2" name="note" type="radio" value="2"/>
              <label for="r2"><i class="fas fa-star"></i></label>
              <Field component="vuemik-radio" id="r1" name="note" type="radio" value="1"/>
              <label for="r1"><i class="fas fa-star"></i></label>
            </div>
          </div>
          <div class="form-group no-border input-lg input-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <i class="input-group-text now-ui-icons users_circle-08"></i>
              </div>
              <Field
                  component="vuemik-textarea"
                  id="comment"
                  name="comment"
                  class="form-control"
                  aria-describedby="addon-right addon-left"
              />
            </div>
          </div>
          <div class="card-footer text-center">
            <button
                @click="handleSubmit"
                class="btn btn-primary btn-round btn-lg btn-block">
              Publier
            </button>

          </div>
          <div class="pull-left">

          </div>

        </template>
      </Vuemik>
    </card>
  </div>
</template>

<script>
import {Button, Card, FormGroupInput} from "@/components";
import {CREATE_COMMENTAIRE_MUTATION} from "@/graphql/mutations";

import Field from '@/components/Vuemik/Field.vue'
import Vuemik from '@/components/Vuemik/Vuemik.vue'
import apiPlatform from "@/api/ApiPlatform";

export default {
  name: 'createCommentaire',
  props: {
    idPrisma: String,
    function: Function
  },
  components: {
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
    Field,
    Vuemik
  },

  data() {
    return {
      initialValues: {
        comment: '',
        note: '1'
      },
      user: '',

    }
  },
  methods: {
    createCommentaire(props) {
      this.$apollo
          .mutate({
            mutation: CREATE_COMMENTAIRE_MUTATION,
            variables: {
              user: this.idPrisma,
              note: props.note,
              comment: props.comment,

            }
          })
          .then(res => {
            const api = apiPlatform({auth: true});
            api.get('users', {params: {prismaId: this.idPrisma}})
                .then((response) => {
                  const {data} = response;
                  this.user = data[0];

                  api
                      .post('commentaires', {
                        idAuthor: "users/" + JSON.parse(localStorage.getItem("userInfoApiPlat")).id,
                        userSubject: "users/" + this.user.id.toString(),
                        note: props.note,
                        comment: props.comment,
                        prismaId: res.data.createCommentaire.id,
                      })
                      .then(() => {
                        this.initialValues.comment = ""
                        this.initialValues.note = "1"
                        this.function();
                      })
                      .catch(error => console.error(error))
                })
                .catch(error => console.error(error))

          })
          .catch(error => console.error(error));

    }
  }

}
</script>

<style scoped>

textarea {
  resize: none;
}

.star {
  display: inline-block;
}

.star * {
  float: right;
}

input {
  display: none;
}

label {
  font-size: 30px;
}

input:checked ~ label {
  color: gold;
}

label:hover,
label:hover ~ label {
  color: lime;
}


input:checked ~ label:hover,
input:checked ~ label:hover ~ label {
  color: red !important;
}


</style>
