<template>
  <div class="page-header clear-filter" filter-color="orange">
    <div
        class="page-header-image"
        style="background-image: url('img/bg1.jpg')"

    ></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <card type="login" plain>
            <Vuemik
                :onSubmit="createCertif"
                v-slot="{ handleSubmit }">
              <template>
                <div class="row">
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.nom ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="nom"
                            name="nom"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.nom"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.dateObtention ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="dateObtention"
                            name="dateObtention"
                            type="date"
                            class="form-control"
                            :placeholder="initialValues.dateObtention"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <button
                      @click="handleSubmit"
                      class="btn btn-primary btn-round btn-lg btn-block">
                    Créer la certification
                  </button>
                </div>

                <div class="pull-left">

                </div>
              </template>
            </Vuemik>
          </card>
        </div>
      </div>
    </div>
    <main-footer></main-footer>
  </div>
</template>

<script>
import {Card, Button, FormGroupInput} from '@/components';
import MainFooter from '@/layout/MainFooter';
import Field from '@/components/Vuemik/Field.vue'
import Vuemik from '@/components/Vuemik/Vuemik.vue'
import {CREATE_CERTIF_MUTATION} from '@/graphql/mutations'
import apiPlatform from "@/api/ApiPlatform";


export default {
  name: 'createCertif',
  components: {
    Card,
    MainFooter,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
    Field,
    Vuemik
  },

  data() {
    return {
      initialValues: {
        nom: 'Nom de la certification',
        dateObtention: "Date d'obtention"
      },
      errors: {
        nom: '',
        dateObtention: '',
      }

    }
  },
  methods: {
    createCertif(props) {
      this.$apollo
          .mutate({
            mutation: CREATE_CERTIF_MUTATION,
            variables: {
              nom: props.nom,
              dateObtention: props.dateObtention,
              validation: true
            }
          })
          .then(response => {
            const api = apiPlatform({auth: true});
            api.post('certifications', {
              nom: props.nom,
              dateObtention: props.dateObtention,
              idUser: "users/" + JSON.parse(localStorage.getItem("userInfoApiPlat")).id,
              prismaId: response.data.createCertification.id
            })
                .then(() => {
                      this.$router.replace('profil')
                    }
                )
                .catch(error => console.error(error))
          })
          .catch(error => console.error(error))


    }
  }
}
</script>