<template>
  <div class="page-header clear-filter" filter-color="orange">
    <div
        class="page-header-image"
        style="background-image: url('img/bg4.jpg')"

    ></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <card type="login" plain>
            <div slot="header" class="logo-container">
              <img v-lazy="'img/now-logo.png'" alt=""/>
            </div>
            <Vuemik
                :onSubmit="createTransaction"
                v-slot="{ handleSubmit }">
              <template>
                <div class="row">
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.type ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="type"
                            name="type"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.type"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.prix ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="prix"
                            name="prix"
                            type="number"
                            class="form-control"
                            :placeholder="initialValues.prix"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <button
                      @click="handleSubmit"
                      class="btn btn-primary btn-round btn-lg btn-block">
                    Réaliser cette transaction
                  </button>
                </div>
                <div class="pull-left">
                </div>
              </template>
            </Vuemik>
          </card>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import {Card, Button, FormGroupInput} from '@/components';
import {CREATE_TRANSAC_MUTATION} from '@/graphql/mutations';
import {SINGLE_ANIMAL_QUERY} from '@/graphql/queries';

import Field from '@/components/Vuemik/Field.vue'
import Vuemik from '@/components/Vuemik/Vuemik.vue'

//import {object, string} from "yup";
import apiPlatform from "@/api/ApiPlatform";

// const CreateTransacSchema = object().shape({
//   type: string().required(),
//   prix: string().required()
// });

export default {
  name: 'CreateTransac',
  components: {
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
    Field,
    Vuemik
  },

  data() {
    return {

      initialValues: {
        type: 'Type de Transaction',
        prix: 'Prix en Euros'
      },

      errors: {
        type: '',
        prix: ''
      },

      animal: {},
      animalApiPlat: [],
      idVendeur: '',
      isAuthenticated: !!localStorage.getItem('USER_TOKEN')
    }
  },


  apollo: {
    animal: {
      query: SINGLE_ANIMAL_QUERY,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    },

  },

  methods: {

    createTransaction(props) {
      // CreateTransacSchema
      //     .validate(props, {abortEarly: false})
      //     .then(() => {
      //       this.errors = {};

      this.$apollo
          .mutate({
            mutation: CREATE_TRANSAC_MUTATION,
            variables: {
              type: props.type,
              prix: props.prix,
              animals: this.$route.params.id,
              vendeur: this.animal.proprio.id
            }
          })
          .then(res => {
            const api = apiPlatform({auth: true});
            api.get('animals', {params: {prismaId: this.$route.params.id}})
                .then((response) => {
                  const {data} = response;
                  this.animalApiPlat = data[0];
                  api
                      .post('transactions', {
                        acheteur: "users/" + JSON.parse(localStorage.getItem("userInfoApiPlat")).id,
                        vendeur: "users/" + this.animalApiPlat.proprio.id.toString(),
                        type: props.type,
                        prix: props.prix,
                        statut: 0,
                        animals: "animals/" + this.animalApiPlat.id,
                        prismaId: res.data.createTransaction.id
                      })
                      .then(() => {
                        this.$router.replace('/profil')
                      })
                      .catch(error => console.error(error))
                })
                .catch(error => console.error(error))

          })
          .catch(error => console.error(error))
//     }
// )
// .catch(err => {
//   err.inner.forEach(error => {
//     this.errors[error.path] = error.message;
//   });
// });
    },
// validate(field) {
//   CreateTransacSchema
//       .validateAt(field, this.values)
//       .then(() => {
//         this.errors[field] = "";
//       })
//       .catch(err => {
//         this.errors[field] = err.message;
//       });
// }
  }
}
</script>

<style>

.input-group.error {
  background: #be3131a2;
  border-radius: 25px;
  border-color: #c00000;
}

</style>
