<template>
  <div>
    <div class="page-header clear-filter" filter-color="grey">
      <parallax
        class="page-header-image"
        style="background-image:url('img/koala.jpg')"
      >
      </parallax>
      <div class="container">
        <div class="content-center brand">
          <img class="n-logo" src="img/now-logo.png" alt="" />
          <h1 class="h1-seo">DEIER</h1>
          <h3>Site de mise en relation pour vendeur et zoo d'animaux exotiques.</h3>
        </div>

      </div>
    </div>
    <div class="main">
      <div class="section section-images">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="hero-images-container">
                <img src="img/tigre.png" alt="" />
              </div>
              <div class="hero-images-container-1">
                <img src="img/perroquet.png" alt="" />
              </div>
              <div class="hero-images-container-2">
                <img src="img/eleph.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="section">
      <div class="container text-center">
        <div class="row justify-content-md-center">
          <div class="col-md-12 col-lg-8">
            <h2 class="title">C'est quoi Deier?</h2>
            <h5 class="description">
              Deier est un site de mise en relation pour les utilisateurs souhaitant acheter, vendre ou échanger des animaux.
              Ce projet a été réalisé dans le cadre de nos études a l'ESGI. Pour la réalisation de cette application nous avons utilisé Prisma, GraphQL et API Platform pour le back,
              et VueJS pour le front. Nous avons mis en place un systeme de switch pour changer d'API entre Prisma et API Platform.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Parallax } from '@/components';

export default {
  name: 'index',
  bodyClass: 'index-page',
  components: {
    Parallax
  }
};
</script>
<style></style>
