<template>
  <div class="page-header clear-filter" filter-color="orange">
    <div
        class="page-header-image"
        style="background-image: url('img/login.jpg')"
    ></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <card type="login" plain>
            <div slot="header" class="logo-container">
              <img v-lazy="'img/now-logo.png'" alt=""/>
            </div>

              <Vuemik 
              :onSubmit="login" 
              :initialValues="initialValues" 
              v-slot="{ handleSubmit }">
              <template>
                <div class="form-group no-border input-lg input-group">
                  <div v-bind:class="[errors.email ? 'input-group error' : 'input-group']">
                    <div class="input-group-prepend">
                      <i class="input-group-text now-ui-icons users_circle-08"></i>
                    </div>
                      <Field 
                        component="input" 
                        id="email" 
                        name="email" 
                        type="email"
                        class="form-control"
                        aria-describedby="addon-right addon-left"
                        @validate="validate('email')"
                        :error="errors.email"
                      />
                  </div>
                </div>



            <div class="form-group no-border input-lg input-group">
              <div v-bind:class="[errors.password ? 'input-group error' : 'input-group']">
                <div class="input-group-prepend">
                  <i class="input-group-text now-ui-icons text_caps-small"></i>
                </div>
                  <Field 
                  component="input" 
                  id="password" 
                  name="password" 
                  type="password"
                  class="form-control"
                  aria-describedby="addon-right addon-left"
                  @validate="validate('password')"
                  />
              </div>
            </div>
              


              <div class="card-footer text-center">
                <button 
                @click="handleSubmit" 
                class="btn btn-primary btn-round btn-lg btn-block">
                Se connecter</button>
              </div>
              <div class="pull-left">
                <h6>
                  <router-link to="/signup" class="link footer-link">Créer un compte</router-link>
                </h6>
              </div>
              </template>
              </Vuemik>
          </card>
        </div>
      </div>
    </div>
    <main-footer></main-footer>
  </div>
  
</template>
<script>
import {Card, Button, FormGroupInput} from '@/components';
import MainFooter from '@/layout/MainFooter';
import {LOGIN_MUTATION} from '@/graphql/mutations'
import {login} from "@/authApiPlat";
import jwt_decode from "jwt-decode";

import Field from '@/components/Vuemik/Field.vue'
import Vuemik from '@/components/Vuemik/Vuemik.vue'

import { object, string } from "yup";

const LoginSchema = object().shape({
  email: string().email().required(),
  password: string().required()
});

export default {
  name: 'login-page',
  bodyClass: 'login-page',
  components: {
    Card,
    MainFooter,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
    Field,
    Vuemik
  },
  data() {
    return {

      initialValues:{
        email: 'user@admin.com',
        password:'test'
      },

      errors:{
        email: '',
        password:''
      }
    }
  },
  methods: {
    login(props) {
      this.$store.commit('auth_request');
        LoginSchema
        .validate(props, { abortEarly: false })
        .then(() => {
          this.errors = {};
          login(props.email, props.password)
          this.$store.commit('auth_success');
            this.$apollo
                .mutate({
                  mutation: LOGIN_MUTATION,
                  variables: {
                    email: props.email,
                    password: props.password
                  }
                })
                .then(response => {
                  localStorage.setItem('USER_TOKEN', response.data.login.token);
                  let decodedToken = jwt_decode(response.data.login.token);
                  localStorage.setItem('idPrisma',decodedToken.userId);
                  this.$store.commit('auth_success_prisma');
                  this.$router.push('profil')
                })
                .catch(error => console.error(error))
                this.$store.commit('connexion');
        })
        .catch(err => {
          err.inner.forEach(error => {
            this.errors[error.path] = error.message;
          });
        });
    },
    validate(field) {
      LoginSchema
        .validateAt(field, this.values)
        .then(() => {
          this.errors[field] = "";
        })
        .catch(err => {
          this.errors[field] = err.message;
        });
    }
  }
};
</script>
<style>

.input-group.error{
  background: #be3131a2;
  border-radius: 25px;
  border-color: #c00000;
}

</style>