<template>
  <div>
    <div class="page-header clear-filter" filter-color="orange">
      <parallax
          class="page-header-image"
          style="background-image:url('img/bg5.jpg')"
      >
      </parallax>
      <div class="container">

        <h1 class="title">{{ me.name }}</h1>
        <h4 class="category">{{ me.email }}</h4>
        <div class="content">


        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container">
          <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
          <a
              href="#button"
              class="btn btn-default btn-round btn-lg btn-icon"
              rel="tooltip"
              title="Follow me on Twitter"
          >
            <i class="fab fa-twitter"></i>
          </a>
          <a
              href="#button"
              class="btn btn-default btn-round btn-lg btn-icon"
              rel="tooltip"
              title="Follow me on Instagram"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        <div class="social-description">

          <Vuemik
              :onSubmit="update"
              v-slot="{ handleSubmit }">
            <template>
              <div class="row">
                <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                  <div class="form-group no-border input-lg input-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <i class="input-group-text now-ui-icons users_circle-08"></i>
                      </div>
                      <Field
                          component="input"
                          id="name"
                          name="name"
                          type="text"
                          class="form-control"
                          :placeholder="me.name || initialValues.name"
                          aria-describedby="addon-right addon-left"
                      />
                    </div>
                  </div>

                  <div class="form-group no-border input-lg input-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <i class="input-group-text now-ui-icons users_circle-08"></i>
                      </div>
                      <Field
                          component="input"
                          id="email"
                          name="email"
                          type="email"
                          class="form-control"
                          :placeholder="me.email || initialValues.email"
                          aria-describedby="addon-right addon-left"
                      />
                    </div>
                  </div>

                  <div class="form-group no-border input-lg input-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <i class="input-group-text now-ui-icons users_circle-08"></i>
                      </div>
                      <Field
                          component="input"
                          id="adresse"
                          name="adresse"
                          type="text"
                          class="form-control"
                          :placeholder="me.adresse || initialValues.adresse"
                          aria-describedby="addon-right addon-left"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                  <div class="form-group no-border input-lg input-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <i class="input-group-text now-ui-icons users_circle-08"></i>
                      </div>
                      <Field
                          component="input"
                          id="cp"
                          name="cp"
                          type="text"
                          class="form-control"
                          :placeholder="me.cp || initialValues.cp"
                          aria-describedby="addon-right addon-left"
                      />
                    </div>
                  </div>

                  <div class="form-group no-border input-lg input-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <i class="input-group-text now-ui-icons users_circle-08"></i>
                      </div>
                      <Field
                          component="input"
                          id="ville"
                          name="ville"
                          type="text"
                          class="form-control"
                          :placeholder="me.ville || initialValues.ville"
                          aria-describedby="addon-right addon-left"
                      />
                    </div>
                  </div>

                  <div class="form-group no-border input-lg input-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <i class="input-group-text now-ui-icons users_circle-08"></i>
                      </div>
                      <Field
                          component="input"
                          id="pays"
                          name="pays"
                          type="text"
                          class="form-control"
                          :placeholder="me.pays || initialValues.pays"
                          aria-describedby="addon-right addon-left"
                      />
                    </div>
                  </div>

                  <div class="form-group no-border input-lg input-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <i class="input-group-text now-ui-icons users_circle-08"></i>
                      </div>
                      <Field
                          component="input"
                          id="telephone"
                          name="telephone"
                          type="telephone"
                          class="form-control"
                          :placeholder="me.telephone || initialValues.telephone"
                          aria-describedby="addon-right addon-left"
                      />
                    </div>
                  </div>


                </div>
              </div>
              <div class="card-footer text-center">
                <button
                    @click="handleSubmit"
                    class="btn btn-primary btn-round btn-lg btn-block">
                  Modifier mon profil
                </button>
              </div>
            </template>
          </Vuemik>

        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <h4 class="title text-center">Mes animaux:</h4>

            <tabs
                pills
                class="nav-align-center"
                tab-content-classes="gallery"
                tab-nav-classes="nav-pills-just-icons"
                type="primary"
            >

              <div class="team">

                <div v-if="$apollo.loading">Loading...</div>

                <YourAnimal :YourAnimals="animals" :idProprio="me" :function="switchApi"/>

              </div>

            </tabs>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <h4 class="title text-center">Mes certifications:</h4>

            <tabs
                pills
                class="nav-align-center"
                tab-content-classes="gallery"
                tab-nav-classes="nav-pills-just-icons"
                type="primary"
            >
              <div class="team">


                <div v-if="$apollo.loading">Loading...</div>

                <YourCertif :YourCertifs="certifications"/>


              </div>

            </tabs>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <h4 class="title text-center">Mes commentaires:</h4>

            <tabs
                pills
                class="nav-align-center"
                tab-content-classes="gallery"
                tab-nav-classes="nav-pills-just-icons"
                type="primary"
            >
              <div class="team">


                <div v-if="$apollo.loading">Loading...</div>

                <YourCommentaire :YourCommentaires="commentaires"/>


              </div>

            </tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import {Tabs, Button, FormGroupInput} from '@/components';
import apiPlatform from "@/api/ApiPlatform";
import {ME_QUERY, YOUR_ANIMALS_QUERY, YOUR_CERTIFS_QUERY, YOUR_COMMENTAIRES_QUERY} from '@/graphql/queries';
import {UPDATE_MUTATION} from '@/graphql/mutations';
import YourAnimal from "@/pages/components/YourAnimal";
import YourCertif from "@/pages/components/YourCertif";
import YourCommentaire from "@/pages/components/YourCommentaire";

import Field from '@/components/Vuemik/Field.vue'
import Vuemik from '@/components/Vuemik/Vuemik.vue'


export default {
  name: 'profil',
  bodyClass: 'profile-page',
  components: {
    YourCommentaire,
    YourCertif, Tabs, YourAnimal,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
    Field,
    Vuemik
  },
  data() {
    return {

      initialValues: {
        name: 'Name',
        email: 'Email',
        password: '',
        adresse: 'Adresse',
        cp: 'Code Postal',
        ville: 'Ville',
        pays: 'Pays',
        telephone: 'Telephone',
      },

      api: this.$store.getters.api || '',
      animals: {},
      certifications: [],
      commentaires: [],
      id: 'me.id',
      me: {}
    }
  },
  created() {
    this.switchApi();
  },
  watch: {
    '$store.state.currentApi'() {
      this.switchApi()
    }
  },
  apollo: {
    me: {
      query: ME_QUERY
    },
    animals: {
      query: YOUR_ANIMALS_QUERY,
      variables() {
        return {
          id: this.me.id
        }
      }
    },
    certifications: {
      query: YOUR_CERTIFS_QUERY,
      variables() {
        return {
          id: this.me.id
        }
      }
    },
    commentaires: {
      query: YOUR_COMMENTAIRES_QUERY,
      variables() {
        return {
          id: this.me.id
        }
      }
    }

  },
  methods: {
    switchApi() {
      if (this.$store.getters.api === "api-platform") {
        this.$apollo.queries.me.skip = true;
        this.$apollo.queries.animals.skip = true;
        this.$apollo.queries.certifications.skip = true;
        this.$apollo.queries.commentaires.skip = true;
        const api = apiPlatform({auth: true});
        const user = JSON.parse(localStorage.getItem('userInfoApiPlat'));
        api.get('users/' + user.id)
            .then((response) => {
              const {data} = response;
              this.me = data;
              this.animals = data.idAnimals;
              this.certifications = data.UserCertif;
              this.commentaires = data.UserSubjectComment;
            })
            .catch(function (e) {
              console.error(e.message);
            });
      } else {
        this.$apollo.queries.me.skip = false;
        this.$apollo.queries.animals.skip = false;
        this.$apollo.queries.certifications.skip = false;
        this.$apollo.queries.commentaires.skip = false;
      }
    },
    update(props) {
      const data = {
        name: props.name || this.me.name,
        email: props.email || this.me.email,
        adresse: props.adresse || this.me.adresse,
        cp: props.cp || this.me.cp,
        ville: props.ville || this.me.ville,
        pays: props.pays || this.me.pays,
        telephone: props.telephone || this.me.telephone
      }
      this.$apollo
          .mutate({
            mutation: UPDATE_MUTATION,
            variables: {
              name: data.name,
              email: data.email,
              password: data.password,
              adresse: data.adresse,
              cp: data.cp,
              ville: data.ville,
              pays: data.pays,
              telephone: data.telephone
            }
          })
          .then(response => {
            localStorage.setItem('USER_TOKEN', response.data.signup.token)
          })
          .catch(error => console.error(error))
      const api = apiPlatform({auth: true});
      const userConnected = JSON.parse(localStorage.getItem('userInfoApiPlat'));
      api.put('users/' + userConnected.id, data)
          .catch(error => console.error(error))
    }
  }
};
</script>
<style></style>
