<template>
  <div class="page-header clear-filter" filter-color="orange">
    <div
        class="page-header-image"
        style="background-image: url('img/login.jpg')"
    ></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <card type="login" plain>
            <div slot="header" class="logo-container">
              <img v-lazy="'img/now-logo.png'" alt=""/>
            </div>
            <Vuemik
                :onSubmit="signup"
                v-slot="{ handleSubmit }">
              <template>

                <div class="row">
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.name ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="name"
                            name="name"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.name"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.email ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="email"
                            name="email"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.email"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.password ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="password"
                            name="password"
                            type="password"
                            class="form-control"
                            :placeholder="initialValues.password"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.adresse ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="adresse"
                            name="adresse"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.adresse"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.role ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="vuemik-select"
                            id="role"
                            name="role"
                            class="form-control"
                            aria-describedby="addon-right addon-left"
                        >
                          <option value="USER">Utilisateur</option>
                          <option value="ZOO">Zoo</option>
                          <option value="ELEVEUR">Eleveur</option>
                          <option value="SELLER">Vendeur</option>
                        </Field>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.zipcode ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="cp"
                            name="cp"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.cp"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.city ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="ville"
                            name="ville"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.ville"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.country ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="pays"
                            name="pays"
                            type="text"
                            class="form-control"
                            :placeholder="initialValues.pays"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.phone ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="telephone"
                            name="telephone"
                            type="phone"
                            class="form-control"
                            :placeholder="initialValues.telephone"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <button
                      @click="handleSubmit"
                      class="btn btn-primary btn-round btn-lg btn-block">
                    S'inscrire
                  </button>
                </div>

                <div class="pull-left">
                  <h6>
                    <router-link to="/login" class="link footer-link">Se connecter</router-link>
                  </h6>
                </div>
              </template>
            </Vuemik>
          </card>
        </div>
      </div>
    </div>
    <main-footer></main-footer>
  </div>
</template>

<script>

import {Card, Button, FormGroupInput} from '@/components';
import MainFooter from '@/layout/MainFooter';
import {signup} from "@/authApiPlat";
import {SIGNUP_MUTATION} from '@/graphql/mutations'

import Field from '@/components/Vuemik/Field.vue'
import Vuemik from '@/components/Vuemik/Vuemik.vue'

//import {object, string} from "yup";
import jwt_decode from "jwt-decode";

// const SignupSchema = object().shape({
//   email: string().email().required(),
//   password: string().required(),
//   city: string().required(),
//   zipcode: string().required(),
//   country: string().required(),
//   adresse: string().required(),
//   phone: string().required(),
//   name: string().required()
// });

export default {
  name: 'login-page',
  bodyClass: 'login-page',
  components: {
    Card,
    MainFooter,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
    Field,
    Vuemik
  },
  data() {
    return {
      initialValues: {
        name: 'Prénom Nom',
        email: 'Email',
        password: 'Mot de passe',
        adresse: 'Adresse',
        cp: 'Code Postal',
        ville: 'Ville',
        pays: 'Pays',
        telephone: 'Téléphone',
        roles:{
          'USER':"User",
          'Zoo':"Zoo",
          'ELEVEUR':"Eleveur",
          'SELLER':"Vendeur",
        }
      },
      errors: {
        name: '',
        email: '',
        password: '',
        adresse: '',
        zipcode: '',
        city: '',
        country: '',
        phone: ''
      }
    }
  },
  methods: {
    signup(props) {
      //this.$store.commit('auth_request');
      // SignupSchema
      //     .validate(props, {abortEarly: false})
      //     .then(() => {
      //       console.log('test')
      //this.errors = {};
      console.log(props)
      this.$apollo
          .mutate({
            mutation: SIGNUP_MUTATION,
            variables: {
              name: props.name,
              email: props.email,
              password: props.password,
              adresse: props.adresse,
              cp: props.cp,
              ville: props.ville,
              pays: props.pays,
              telephone: props.telephone
            }
          })
          .then(response => {
            console.log(response.data.signup.token)
            let token = response.data.signup.token
            localStorage.setItem('USER_TOKEN', token)
            let decodedToken = jwt_decode(token);
            localStorage.setItem('idPrisma', decodedToken.userId);
            this.$store.commit('auth_success_prisma');
            signup(props, decodedToken.userId)
            this.$store.commit('auth_success');
            // redirect to login page
            this.$router.replace('profil')
          })
          .catch(error => console.error(error))

      // })
      // .catch(err => {
      //   err.inner.forEach(error => {
      //     this.errors[error.path] = error.message;
      //   });
      // });
    },
    // validate(field) {
    //   SignupSchema
    //       .validateAt(field, this.values)
    //       .then(() => {
    //         this.errors[field] = "";
    //       })
    //       .catch(err => {
    //         this.errors[field] = err.message;
    //       });
    // }

  }
}
</script>

<style>

.input-group.error {
  background: #be3131a2;
  border-radius: 25px;
  border-color: #c00000;
}

</style>