<template>
  <div class="row">


    <div
        class="col-md-6"
        v-for="(transaction, index) in transactions"
        :key="index"
    >


      <div class="team-player">

        <div class="content">
          <p class="category text-primary">
            <span v-if="transaction.acheteur.id === id">Vous avez proposé:</span>
            <span v-if="transaction.vendeur.id === id">On vous a proposé:</span>
          </p>
          <div class="description">
            <p>Prix: {{ transaction.prix }}€</p>
            <p>Statut: <strong>
              <span v-if="transaction.statut === 2">Refusé</span>
              <span v-if="transaction.statut === 1">Accepté</span>
              <span v-if="transaction.statut === 0">En Attente</span></strong><br/>
            </p>
            <h6>Espece: {{ transaction.animals.espece }} </h6>
            <h6>Genre: {{ transaction.animals.genre }} </h6>
            <h6>Race: {{ transaction.animals.race }}</h6>


            <div v-if="currentApi === 'prisma'">
              <router-link style="height: 1.375rem!important;" class="btn btn-primary btn-icon btn-round"
                           :to="`/transac/${transaction.id}`">
                <i class="fas fa-eye"></i>
              </router-link>
            </div>
            <div v-if="currentApi === 'api-platform'">
              <router-link style="height: 1.375rem!important;" class="btn btn-primary btn-icon btn-round"
                           :to="`/transac/${transaction.prismaId}`">
                <i class="fas fa-eye"></i>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</template>

<script>
import {Button} from "@/components";
import {ME_QUERY} from '@/graphql/queries'
import apiPlatform from "@/api/ApiPlatform";

export default {

  name: 'transaction',
  props: ['transactions'],
  bodyClass: 'landing-page',
  components: {
    [Button.name]: Button
  },
  data() {
    return {
      id: '',
      me: [],
      currentApi: this.$store.getters.api
    }
  },
  created() {
    this.switchApi();
  },
  watch: {
    '$store.state.currentApi'() {
      this.switchApi()
    }
  },
  apollo: {
    me: {
      query: ME_QUERY
    },
  },
  methods: {
    switchApi() {
      if (this.$store.getters.api === "api-platform") {
        this.$apollo.queries.me.skip = true
        this.id = JSON.parse(localStorage.getItem('userInfoApiPlat')).id;
      } else {
        this.$apollo.queries.me.skip = false
        this.id = localStorage.getItem('idPrisma');
      }
    },
  },


}
</script>

<style scoped></style>