<template>
  <div class="page-header clear-filter" filter-color="orange">
    <div
        class="page-header-image"
        style="background-image: url('img/bg1.jpg')"

    ></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <card type="login" plain>
            <div slot="header" class="logo-container">
              <img v-lazy="'img/now-logo.png'" alt=""/>
            </div>
            <Vuemik
                :onSubmit="updateAnimal"
                v-slot="{ handleSubmit }">
              <template>
                <div class="row">
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.espece ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="espece"
                            name="espece"
                            type="text"
                            class="form-control"
                            :placeholder="animal.espece"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.race ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="race"
                            name="race"
                            type="text"
                            class="form-control"
                            :placeholder="animal.race"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>

                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.prix ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="prix"
                            name="prix"
                            type="number"
                            class="form-control"
                            :placeholder="animal.prix"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.genre ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="genre"
                            name="genre"
                            type="text"
                            class="form-control"
                            :placeholder="animal.genre"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.dateBirth ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="dateBirth"
                            name="dateBirth"
                            type="date"
                            class="form-control"
                            :placeholder="animal.dateBirth"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                    <div class="form-group no-border input-lg input-group">
                      <div v-bind:class="[errors.birthplace ? 'input-group error' : 'input-group']">
                        <div class="input-group-prepend">
                          <i class="input-group-text now-ui-icons users_circle-08"></i>
                        </div>
                        <Field
                            component="input"
                            id="birthplace"
                            name="birthplace"
                            type="text"
                            class="form-control"
                            :placeholder="animal.birthplace"
                            aria-describedby="addon-right addon-left"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <button
                      @click="handleSubmit"
                      class="btn btn-primary btn-round btn-lg btn-block">
                    Modifier cette animal
                  </button>
                </div>
                <div class="pull-left"></div>
              </template>
            </Vuemik>
          </card>
        </div>
      </div>
    </div>
    <main-footer></main-footer>
  </div>
</template>

<script>
import {Button, Card, FormGroupInput} from "@/components";
import MainFooter from "@/layout/MainFooter";
import Field from "@/components/Vuemik/Field";
import Vuemik from "@/components/Vuemik/Vuemik";
import apiPlatform from "@/api/ApiPlatform";
import {UPDATE_ANIMAL_MUTATION} from "@/graphql/mutations";
import { SINGLE_ANIMAL_QUERY} from "@/graphql/queries";



export default {
  name: "UpdateAnimal",
  components: {
    Card,
    MainFooter,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
    Field,
    Vuemik
  },
  data() {
    return {
      idPrisma: this.$route.params.id,
      animal: [],
      errors: {
        espece: '',
        race: '',
        genre: '',
        image: '',
        dateBirth: '',
        birthplace: '',
        prix: ''
      }
    }
  },
  created() {
    this.switchApi();
  },
  watch: {
    '$store.state.currentApi'() {
      this.switchApi()
    }
  },
  apollo: {
    animal: {
      query: SINGLE_ANIMAL_QUERY,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    }

  },
  methods: {
    switchApi() {
      if (this.$store.getters.api === "api-platform") {
        this.$apollo.queries.animal.skip = true;
        const api = apiPlatform({auth: true});
        api.get('animals', {params: {prismaId: this.idPrisma}})
            .then((response) => {
              const {data} = response;
              this.animal = data[0];
            })
            .catch(function (e) {
              console.error(e.message);
            });
      } else {
        this.$apollo.queries.animal.skip = false;

      }
    },
    updateAnimal(props) {
      const data = {
        espece: props.espece || this.animal.espece,
        race: props.race || this.animal.race,
        genre: props.genre || this.animal.genre,
        dateBirth: props.dateBirth || this.animal.dateBirth,
        birthplace: props.birthplace || this.animal.birthplace,
        prix: props.prix || this.animal.prix,
      }

      this.$apollo
          .mutate({
            mutation: UPDATE_ANIMAL_MUTATION,
            variables: {
              id: this.$route.params.id,
              espece: data.espece,
              race: data.race,
              genre: data.genre,
              dateBirth: data.dateBirth,
              birthplace: data.birthplace,
              prix: data.prix
            }
          })

      const api = apiPlatform({auth: true});
      api.put('animals/' + this.animal.id, data)
          .then(() => {
            this.$router.push({name: 'profil'})
          })
          .catch(error => console.error(error))
    }
  }
}
</script>

<style scoped>

.input-group.error {
  background: #be3131a2;
  border-radius: 25px;
  border-color: #c00000;
}

</style>