<template>
    <component 
    :is="component" 
    :name="name" 
    @input="vuemik.change"
    v-bind="$attrs"
    :placeholder="placeholder"
    :value="vuemik.values[name]"
    :checked="vuemik.values[name]"
    >
      <slot></slot>
    </component>
</template>

<script>
import Vue from 'vue'
//
//Vue.component('vuemik-email', () => import('@/components/Vuemik/custom/Input.vue'))
//Vue.component('vuemik-date', () => import('@/components/Vuemik/custom/Input.vue'))
//Vue.component('vuemik-file', () => import('@/components/Vuemik/custom/Input.vue'))
//Vue.component('vuemik-number', () => import('@/components/Vuemik/custom/Input.vue'))
Vue.component('vuemik-radio', () => import('@/components/Vuemik/custom/Radio.vue'))
//Vue.component('vuemik-password', () => import('@/components/Vuemik/custom/Input.vue'))
//
Vue.component('vuemik-textarea', () => import('@/components/Vuemik/custom/Textarea.vue'))
//
Vue.component('vuemik-select', () => import('@/components/Vuemik/custom/Select.vue'))


export default {
  name: 'Field',
  props: {
    component: {type: [Object,String], required: true},
    name: {type: String, required: true},
    placeholder: {type: String, required: false}
    //error: { required: true }
    
  },
  inject:["vuemik"],
}
</script>