<template>
  <div>
    <slot :handleSubmit="handleSubmit"></slot>
  </div>
</template>

<script>

const isInput = (element) => element.type !== undefined && element.type !== "textarea";

export default {
    name: 'Vuemik',
    props: {
      //component: {type: String, required: true},
      initialValues: {type: Object, required: false},
      onSubmit: {type: Function, required: true},
      //validate: {type: String, required: true},
      //validationSchema: {type: Object, required: false},
      //id: {type: String, required: true},
    },

    data(){
      return{
        values: this.initialValues || []
      }
    },

    provide(){
      //console.log(this.handleChange)
      return{
        vuemik:{
          values: this.values,
          change: this.handleChange
        }
      }
    },

    methods: {

    eventOrValue(e){
      
      if (!(e instanceof Event)) {
        throw new Error("Instance d'evenement attendue")        
      }

      const {target} = e;

      
      if (isInput(target)) {
        return target.value;
      }

      return target.value;
    },

    handleChange(e) {
      this.setValues({ [e.target.name]: this.eventOrValue(e) });
    },
    setValues(values) {
      Object.entries(values).forEach(([key, val]) => {
        this.$data.values[key] = val;
      });
    },

      handleSubmit() {        
        //console.log("handleSubmit"),
        this.onSubmit(this.values)
        //console.log(JSON.parse(JSON.stringify(this.values)))
      }
    },
}
</script>

<style>

</style>

     